<div class="container">
    <div class="card">
        <h1><strong>Cultos del mes de Marzo - Abril 2023</strong></h1> 
        <div class="container mt-2">
            <div class="row">
                <div class="col">

                <youtube-player 
                    [videoId]="id"
                    [height]="270" 
                    [width]="350" 
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)">
                </youtube-player>
                <youtube-player 
                    [videoId]="id2"
                    [height]="270" 
                    [width]="350" 
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)">
                </youtube-player>
                <youtube-player 
                    [videoId]="id3"
                    [height]="270" 
                    [width]="350" 
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)">
                </youtube-player>
                    <youtube-player 
                        [videoId]="id4"
                        [height]="270" 
                        [width]="350" 
                        (ready)="savePlayer($event)"
                        (change)="onStateChange($event)">
                    </youtube-player>
                    <youtube-player 
                        [videoId]="id5"
                        [height]="270" 
                        [width]="350" 
                        (ready)="savePlayer($event)"
                        (change)="onStateChange($event)">
                    </youtube-player>
                    <youtube-player 
                        [videoId]="id6"
                        [height]="270" 
                        [width]="350" 
                        (ready)="savePlayer($event)"
                        (change)="onStateChange($event)">
                    </youtube-player>
                   
                   
                </div>
            </div>
        </div>
    </div>
</div>

 