<h3>Culto de Jovenes</h3>
<br>

    <h5>Versículos de la biblia sobre el bautismo</h5>
    <br>
    <p>Pues todos sois hijos de Dios por la fe en Cristo Jesús; porque todos los que habéis
    sido bautizados en Cristo, de Cristo estáis revestidos.<button class="button button">Gálatas 3:26-27</button></p>

    <p>Por tanto, id, y haced discípulos a todas las naciones, bautizándolos en el nombre del Padre,
         y del Hijo, y del Espíritu Santo; enseñándoles que guarden todas las cosas que os he mandado; 
         y he aquí yo estoy con vosotros todos los días, hasta el fin del mundo. Amén.<button class="button button">Mateo 28:19-20</button>
    </p>


    <p>El bautismo que corresponde a esto ahora nos salva (no quitando las inmundicias de la carne, sino como la aspiración de una buena 
        conciencia hacia Dios) por la resurrección de Jesucristo.<button class="button button">1 Pedro 3:21</button>
    </p>

    <p>
        Pedro les dijo: Arrepentíos, y bautícese cada uno de vosotros en el nombre de Jesucristo para perdón de los pecados; y recibiréis 
        el don del Espíritu Santo.<button class="button button">Hechos 2:38</button>
    </p>

    <p>
        El que creyere y fuere bautizado, será salvo; mas el que no creyere, será condenado.<button class="button button">Marcos 16:16</button>
    </p>

    <p>
        Respondió Jesús: De cierto, de cierto te digo, que el que no naciere de agua y del Espíritu, no puede entrar en el reino de Dios.<button class="button button">Juan 3:5</button>
    </p>

    <br>
    <h5>Proximo Bautizo</h5>




    <br>
    <br>
    <div id="container">
        <div id="center"><img class="circular--square" src="./assets/images/jovenes.jpg"/><br>
            <button class="button button3">Todos los domingos</button><br>
            <h5>De 11:00 a 13:00 hrs</h5>
        </div>
    </div> 

    <p>
        Estas totalmente invitado a ser parte del gran equipo de Cristo, si tu deseo o propósito de este año, es bautizarte y ¿no sabes cómo?
        contáctanos y nosotros te ayudamos. Recuerda que estamos en los últimos tiempos y este se está terminando.
    </p>