<h3>Culto de Jovenes</h3>
<br>

    <h5>Es importante conocer de Dios</h5>
    <br>
    <p>Hoy en dia es importante hablar de Dios con los jovenes, mas que nunca se debe inculcar con el amor 
        a Dios ya que necesitan hacer frente a las diversiones y placeres que el mundo les ofrece. El amor 
        a Cristo les dara esperanza duradera para afrontar el futuro con base en fundamentos firmes de Dios. 
    </p>
 
    <p>La palabra de Dios nos habla de un factor importante como lo es, que a Dios no le agrada el mal y por el contrario 
        ama la verdad, preocupandose por los oprimidos, marginados, valorando todas las vidas.<button class="button button">Zac 8:16-17</button></p>

    <p>Esto proporciona, anima y motiva a los jovenes, a conocer y preocuparse por la justicia. muestra la 
        importancia de someternos a las autoridades que nos han sido dadas por Dios: padres, pastores, 
        maestros, y gobernantes. Y alimenta nuestra obediencia a la Palabra de Dios como la norma definitiva 
        de la justicia.
    </p>


    <p>La juventud pasa muy rápido y es por eso que debemos aprovechar al máximo cada segundo. Debemos 
        invertir nuestra vida en lo que realmente vale la pena mientras tenemos salud y fuerzas.
        No hay nada más seguro y acertado que invertir en el Reino de Dios que durará para siempre. Los 
        jóvenes que dedican sus vidas al Señor no quedarán frustrados porque tienen la certeza de que Dios 
        bendice a los que le sirven.
    </p>

    <h5>Algunos versiculos que Dios habla a los jovenes</h5>
    <br>
    <p>
        Os he escrito a vosotros, padres, porque habéis conocido al que es desde el principio. Os he escrito 
        a vosotros, jóvenes, porque sois fuertes, y la palabra de Dios permanece en vosotros, y habéis vencido 
        al maligno.<button class="button button">1 Juan 2:14</button>
    </p>

    <p>
        Los jóvenes y también las doncellas, Los ancianos y los niños. Alaben el nombre de Jehová, Porque 
        solo su nombre es enaltecido. Su gloria es sobre tierra y cielos.<button class="button button">Salmos 148:12-13</button>
    </p>

    <p>
        Igualmente, jóvenes, estad sujetos a los ancianos; y todos, sumisos unos a otros, revestíos de humildad; 
        porque: Dios resiste a los soberbios, Y da gracia a los humildes. Humillaos, pues, bajo la poderosa mano 
        de Dios, para que él os exalte cuando fuere tiempo.<button class="button button">1 Pedro 5:5-6</button>
    </p>

    <p>
        Oye, hijo mío, y sé sabio, Y endereza tu corazón al camino. No estés con los bebedores de vino,
    Ni con los comedores de carne; Porque el bebedor y el comilón empobrecerán, Y el sueño hará vestir vestidos rotos. 
    Oye a tu padre, a aquel que te engendró; Y cuando tu madre envejeciere, no la menosprecies.<button class="button button">Proverbios 23:19-22</button>
    </p>
    <br>

    <h5>Culto</h5>




    <br>
    <br>
    <div id="container">
        <div id="center"><img class="circular--square" src="./assets/images/jovenes.jpg"/><br>
            <button class="button button3">Todos los domingos</button><br>
            <h5>De 11:00 a 13:00 hrs</h5>
        </div>
    </div> 

   