.container{
    margin-bottom: -0px;
}

.text-footer{
    position: relative;
    margin-top: 10px;
    bottom: 0px;
    font-size: 20px;
    font-weight: 500;
}

.text-footer2{
    position: 0;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
}

.icono-imagen{
    width: 35px;
    height: 35px;
    margin-left: 5px;
}

.div-pastor{
 background: radial-gradient(#fbfbfc, #aaa5a59a); 
}

.text-pastor{
    margin: 1.5em 10px;
    font-family: 'Merriweather',Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 18px;
    color: black;
}

.title-pastor{
    font-size: 20px;
    font-weight: 800;
    color: black;
}

.circular--square {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

