<footer class="footer bg-inserse text-center">
    <div class="container">
        <div class="div-pastor">
            <br>
            <br>
            <p class="title-pastor">Pastor de la Iglesia</p>
            <div id="center"><img class="circular--square" src="assets/images/pastor2.PNG"/><br>
            </div>
            <p class="text-pastor">Agustín Díaz Morales</p>
            <br>
        </div>
        
        <hr>
        <p class="text-footer"> Contactanos tambien por Redes Sociales</p>
        <a href="https://web.whatsapp.com/"><img class="icono-imagen" src="assets/images/whatsap.png"/></a>
        <a href="https://www.facebook.com/Iglesia-J%C3%BAbilo-Y-Adoraci%C3%B3n-1626468147649568/videos/"><img class="icono-imagen" src="assets/images/facebook.png"/></a>
        <a href="https://z-p15.www.instagram.com/accounts/login/?next=/p/CK8SOUgBxgo/&hl=es-la"><img class="icono-imagen" src="assets/images/instagram.png"/></a>
        <a href="https://www.youtube.com/@Jubilo-Adoracion/featured"><img class="icono-imagen" src="assets/images/youtube.png"/></a>
        <a href=""><img class="icono-imagen" src="assets/images/tiktok.png"/></a>
        <p class="text-footer2"> ©2023 Júbilo y Adoración</p>
        <p class="text-footer2"> Dirección: Calle Llano Verde, Ref. Avenida Del Puerto, Calle Ignacio Allende, Calle José López Portillo CP. 56350 - Chimalhuacán, Estado de México. Tel. (55)51117305</p>
        <br>
        <br>

    </div>
</footer>
