<h3>Próximos eventos 2023</h3>

<br>

    <div id="container" align="center">
        <div class="div-container"><img class="circular--square" src="assets/images/niños.jpg"/><br>
            <button class="button button3">Sábado</button><br>
            <h5>15 de abril 2023, a las 10:00 am</h5>
            <p>Culto, celebrando a los niños</p>
        </div>
        <div ><img class="circular--square" src="assets/images/bautizo.jpg"/><br>
            <button class="button button3">Sábado</button><br>
            <h5>22 de abril 2023, a las 05:00 am</h5>
            <p>Fiesta en los cielos, bautisos.</p>
        </div>
    </div>