<h3>Culto de Varones</h3>
<br>

    <h5>Proposito</h5>
    <br>
    <p>“Entonces dijo Dios: Hagamos al hombre a nuestras imagen, conforme a nuestra semejanza”.<button class="button button">Génesis 1:26</button>    
    </p>

    <p>
        Cuando vamos a la Biblia y nos remontamos a los orígenes, a la creación misma del hombre
        nos encontramos básicamente con 3 puntos importantes:

    </p>


    <p>
        <li>A) El hombre (Adán) es la trascendencia trinitaria de la obra creadora.</li>
        <li>B) Su unidad es símbolo de perfección (hombre espiritual y hombre terrenal).</li>
        <li>C) Es un ser digno (hecho a la imagen de Dios); por lo tanto es posible ser recto, temeroso de Dios y apartado del mal.</li>
    </p>

    <br>
    <h5>Como lograr el proposito de Dios:</h5>
    <br>

    <p>
        <li>Involucrar a los hombres, con una actividad apropiada para ellos.</li>
        <li>Proveer información en cuanto a las diferentes etapas por las que atraviesa el hombre.</li>
        <li>Hacer conocer en cuanto a las características de los hombres (personalidad, necesidades, cambios, etc.).</li>
        <li>Fortalecer el compañerismo.</li>
        <li>Dar oportunidad para que desarrollen sus actividades según sus dones, talentos,
            trabajos especiales.</li>
        <li>Promover la oración.</li>
        <li>Evangelizar.</li> 
        <li>Desarrollar un discipulado.</li>
    </p>

    <p>
        ¿Te interesa formar parte de este gran equipo de Cristo? estas totalmente invitado a nuestros servicios:
    </p>

    <br>
    <h5>Cultos</h5>

    <br>
    <br>
    <div id="container">
        <div id="center"><img class="circular--square" src="./assets/images/cultovaron2.jpg"/><br>
            <button class="button button3">Todos los Sabados</button><br>
            <h5>De 19:00 a 20:30 hrs</h5>
        </div>
    </div> 

    