<h3>Culto Femenil</h3>
<br>

    <h5>Mujer Virtuosa</h5>
    <br>
    <p>En la Biblia hay unos versículos muy conocidos que nos hablan sobre la mujer que teme al Señor. 
        Se encuentran en Proverbios 31:10-31. A muchas mujeres nos intimida ese capítulo, porque lo 
        vemos como una lista inacabable de deberes por hacer... Sin embargo, ese capítulo contiene en 
        realidad las enseñanzas de una madre para su hijo "el rey Lemuel". En los versículos 1-9 ella 
        le advierte sobre la inmoralidad sexual. El resto del capítulo habla sobre la mujer virtuosa 
        que teme al Señor, esa que sería buena como esposa para el rey Lemuel.
    </p>

    <br>
    <h5>Se reviste de fuerza y dignidad</h5>
    <br>

    <p>La mujer que teme al Señor está vestida de fuerza y de dignidad. ¡Qué vestidos más maravillosos! 
        ¿Cuántas veces vamos por la vida cargadas de problemas, pensando que no podremos salir adelante? 
        Los afanes del hogar y del trabajo, los problemas sociales que nos rodean... Necesitamos detenernos 
        a orar y pedir al Señor que nos dé su fuerza, esa que nos ayuda a fijar nuestros ojos en Dios y no 
        en los problemas o dificultades de la vida.
    </p>


    <p>Es al detenernos en su presencia que logramos sentir el abrazo del Señor llenándonos de fuerza y de 
        ánimo. Nuestra confianza en él crece y vemos las cosas de otra manera. Sabemos que Dios puede obrar 
        y que lo hará a su debido momento. Mientras esperamos, recibimos el ánimo y la fuerza necesarios 
        para seguir adelante con la frente alta, con dignidad, confiadas en nuestro Papá. Porque sabemos 
        que en él estamos completas.<button class="button button">Colosenses 2:9-10</button>
    </p>

    <br>
    <h5>Habla con sabiduria</h5>
    <br>

    <p>
        ¿Cómo son las palabras que salen de nuestra boca? ¿Son palabras de ansiedad? ¿Son palabras hirientes?
         ¿Son chismes? ¡Evaluemos nuestras palabras! Busquemos la sabiduría que viene de Dios y hablemos cosas
          que reflejen su corazón.<button class="button button">Santiago 3:17</button> Nuestras palabras 
          muestran nuestro nivel de madurez en el Señor. Según crecemos en nuestro andar con Dios nuestras 
          palabras tenderán más a edificar y bendecir.
    </p>

    <p>
        La Biblia dice que de la abundancia del corazón habla la boca<button class="button button">Mateo 12:34-35</button>. 
        Por esta razón, si deseamos hablar con sabiduría necesitamos llenar nuestra mente y nuestro corazón con 
        la sabiduría que se encuentra en la Palabra de Dios. ¿Cuánto tiempo pasamos al día leyendo cosas que no 
        edifican o viendo series que no nos aportan gran cosa? Sí, está bien tener algo de tiempo de ocio, pero 
        no bajemos la guardia. Vigilemos lo que dejamos entrar en nuestra mente y en nuestro corazón.
    </p>
    
    <p>
        Si quieres aprender mas, estas totalmente invitada a nuestros servicios:
    </p>

    <br>
    <h5>Cultos</h5>




    <br>
    <br>
    <div id="container">
        <div id="center"><img class="circular--square" src="./assets/images/cultofemenil.jpg"/><br>
            <button class="button button3">Todos los Sabados</button><br>
            <h5>De 19:00 a 20:30 hrs</h5>
        </div>
    </div> 

    