h1 {
  font-size: 2rem;
  text-align: center;
  color: rgb(207, 49, 36);
  font-family: unset;
  margin-bottom: 50px;
}

  .objetiv{
    text-align: justify;
    width: 80%;
    margin-left: 60px;
    
  }


  /*Contenido de la hoja*/
  .text-content{
    color: rgba(127,17,70,1);
    font-family: 'PT Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.4;
  }

  span{
    background: #fff;
    padding: 0 15px;
  }
  .div-principal{
    width: 100%;
    height: 40%;
    margin: none;
    text-align: center;
    background-color: black;
    background: radial-gradient(#2d4a88, #111111);  
  }

  .bienvenidos{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: aliceblue;
  }

  .image-cronicas{
    width: 50%;
    height: 450px;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom, #3c5da3 0%, #0a103a 100%) 1; 
    /*border-radius: 40px;*/
  }

  .div-mision{
    text-align: justify;
    margin-right: 30px;
    margin-top: 100px;
    width: 87%;
    margin-left: 50px;
    margin-bottom: 50px;
  }

/* Efecto imagen*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: initial;   
  }
    
    .contenedor{
        width: 99%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
    .contenedor figure{
        position:relative;
        height: 350px;
        cursor: pointer;
        width: 440px;
        overflow: hidden; 
        border-radius: 20px;
        
    }
    .contenedor figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .contenedor figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(90, 90, 70, 0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
    }
    .contenedor figure:hover > .capa {
        opacity: 1;
        visibility: visible;
    }
    .contenedor figure:hover > .capa h3{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .contenedor figure:hover > img{
        transform: scale(1.3);
    }
    .contenedor figure .capa h3{
        color: rgb(243, 238, 239);
        font-weight: 900;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
        font-size: 20px;;
        margin-top: 30px;
    }
    .contenedor figure .capa p{
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
    }

    /* Configuracion de span para el titulo*/
    h2 {
      text-align: center;
      color: rgb(207, 49, 36);
      font-size: 2rem;
      /*background: radial-gradient(#fbfbfc, #d3cece9a); */
    }
    h2.linea {
      position: relative;
      z-index: auto;
    }
    h2.linea:before {
      border-top: 3px solid #aa0d15;
      content: "";

      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1;
    }
    h2.linea span { 
      padding: 0 10px;
    
    }
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 3px 2px;
      border-radius: 10px;
      /* cursor: pointer;*/
  }



  /* Configuracion slider*/

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  .slider{
    width: 100%;
    height: 540px;
    overflow: hidden;
  }
  .slider ul{
      display: flex;
      animation: cambio 15s infinite alternate linear;
      width: 400%;
  }
  .slider li{
      width: 100%;
      list-style: none;
  }
  .slider img{
      width: 100%;
      height: 62%;
      align-content: center;
  }
  @keyframes cambio{
      0%{margin-left: 0;}
      20%{margin-left: 0;}
      
      25%{margin-left: -100%;}
      45%{margin-left: -100%;}
      
      50%{margin-left: -200%;}
      70%{margin-left: -200%;}
      
      75%{margin-left: -300%;}
      100%{margin-left: -300%;}
  }
  @media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
      height: 100vh;
  }
  }


  .contenedor2{
    position: relative;
    display: inline-block;
    text-align: right;
    font-family: Arial;
    font-size: 30px;
}
 

.centrado{
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
}