<div class="contenedor">
    <a>
         <figure>
             <img src="assets/images/orar.jpg">
             <div class="capa">
                 <h3>2 Crónicas 7:14</h3>
                 <p>{{cronicas7}}</p>
             </div>
         </figure>
    </a>
</div>




<div class="div-mision">
    <h2 class="linea"><span>Misión</span></h2>
    <br>
    <p>{{mision}}</p>
    <br>
    <br>
    <br>
    <h2 class="linea"><span>Visión</span></h2>
    <br>
    <p>{{vision}}</p>
    <br>
    <br>
    <br>
    <h2 class="linea"><span>Objetivos</span></h2>
    <br>
    <div class="objetiv">
        <ul>
            <li>Adorar a Dios en Espiritu y en verdad (Juan 4:23,24; Salmos 100; Colosenses 3:16).</li>
            <li>Impartir el conocimiento de las Sagradas Escrituras, para el crecimiento en la vida y en las virtudes cristianas (2 Pedro 3:18; 2 Timoteo 3:14-7;Salmos 119:9; 2 Corintios 7:1; Juan 13:34).</li>
            <li>Propagar el Evangelio por doquier y formar en los creyentes una relación de adoración y confianza en Dios (Marcos 16:15; Hechos 1:8).</li>
            <li>Promover la lectura y el estudio de la Biblia. Recordando que: “Toda la escritura es inspirada por Dios, y útil para enseñar, para redargüir, para corregir, para instruir en justicia, a fin de que el hombre de Dios sea perfecto, enteramente preparado para toda buena obra (2 Timoteo 3:16-17).</li>
            <br>
        </ul>
    </div>
</div>
