<mat-toolbar class="mat-elevation-z8">
  <button class="button-cierre"
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">

    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <div>
      <p class="title2">Júbilo y Adoración</p>
      <p class="title3">Iglesia Cristiana Independiente Pentecostes A.R. ICIPAR</p>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="https://github.com/jubilo23/jubilo.sc3/blob/gh-pages/assets/images/biblia.png?raw=true"/>

    <h4 class="name">Júbilo y Adoración</h4>
    <p class="designation">A.R. ICIPAR, Sector 3</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Eventos</span>
    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Culto General</span>
    </button>
    <button mat-button class="menu-button" routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>Culto Varones</span>
    </button>



    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Culto Femenil</span>
    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Culto Jovenes</span>
    </button>
    <button mat-button class="menu-button" routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>Bautizos</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <mat-icon>help</mat-icon>
      <span>Ayuda</span>
    </button>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet> </router-outlet>
        <div class="contenedor">
          <a href="#">
               <figure>
                   <img src="assets/images/orar.jpg">
                   <div class="capa">
                       <h3>2 Crónicas 7:14</h3>
                       <p>Si se humillare mi pueblo, sobre el cual mi nombre es invocado, 
                        y oraren, y buscaren mi rostro, y se convirtieren de sus malos caminos; entonces yo oiré 
                        desde los cielos, y perdonaré sus pecados, y sanaré su tierra</p>
                   </div>
               </figure>
           </a>
        </div>
      
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<div align="center">
  <h1>Misión</h1>
  <h1>Visión</h1>
</div>


