<html>
  <body>

 
<mat-toolbar class="mat-elevation-z8">
  <button class="button-cierre"
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">

    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <div>
      <p class="title2">Júbilo y Adoración</p>
      <p class="title3">Iglesia Cristiana Independiente Pentecostes A.R. ICIPAR</p>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="assets/images/paloma.jpg"/>

    <h4 class="name">Júbilo y Adoración</h4>
    <p class="designation">A.R. ICIPAR, Sector 3</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-button class="menu-button" routerLink="/event">
      <mat-icon>event</mat-icon>
      <span>Eventos</span>
    </button>
    <button mat-button class="menu-button" routerLink="/predicas">
      <mat-icon>ondemand_video</mat-icon>
      <span>Predicas</span>
    </button>
    <button mat-button class="menu-button" routerLink="/cultos">
      <mat-icon>supervised_user_circle</mat-icon>
      <span>Culto General</span>
    </button>
    <button mat-button class="menu-button" routerLink="/about">
      <mat-icon>tag_faces</mat-icon>
      <span>Culto Varones</span>
    </button>



    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>face</mat-icon>
      <span>Culto Femenil</span>
    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Culto Jovenes</span>
    </button>
    <button mat-button class="menu-button" routerLink="/about">
      <mat-icon>people</mat-icon>
      <span>Bautizos</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <mat-icon>help</mat-icon>
      <span>Ayuda</span>
    </button>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet> </router-outlet>
        
   </div>

    
   <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>


</body>
</html>



