mat-toolbar {
  /*background: #004a9f;*/
  background: rgb(214, 78, 78);
  height: 100px;
  color: azure;
  margin-bottom: 1px;
}

mat-sidenav {
  width: 220px;
  border-right: none;
  background: rgb(8, 8, 8);
  color: white;
  padding: 16px;
  text-align: center;
}

.content {
  /*height: calc(100vh - 130px);
  border-radius: 10px;*/
  /*margin: 16px;
  margin-left: 1px;
  padding: 16px;*/
  margin: none;
  background: radial-gradient(#fbfbfc, #d3cece9a); 
  
}

mat-sidenav-content {
  height: 100%;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
}

button:hover {
  color: #ddc03e;
  cursor: pointer;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: -2px;
  font-size: 0.7rem;
  color: lightgrey;
  height: 10px;
}

.title2 {
  font-size: 25px;
  font-weight: 800;
  margin: 0%;
  margin-bottom: 1px;
  margin-left: 15px;
  color: rgb(226, 212, 212);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 1px rgb(199, 178, 120);

}

.title3 {
  font-size: 13px;
  margin: -5px;
  margin-left: 10px;
  height: 10px;
  font-weight: 100;   
  
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}