<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">

    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Iglesia Cristiana Pentecostes <p class="title2">Júbilo</p><p class="title3">y</p> <p class="title2">Adoración</p>
   
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="dist\assets\images\biblia.png"/>

    <h4 class="name">Júbilo y Adoración</h4>
    <p class="designation">A.R. ICIPAR, Sector 3</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-button class="menu-button" routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>Información</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <mat-icon>help</mat-icon>
      <span>Ayuda</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
