<h3>Servicios semanales</h3>

<br>

    <div id="container">
        <div id="left"><img class="circular--square" src="/assets/images/predica2.jpg"/><br>
            <button class="button button3">Martes</button><br>
            <h5>horario:</h5>
            <p>Todos los martes 7:00 pm</p>
        </div>
        <div id="center"><img class="circular--square" src="/assets/images/predica.jpg"/><br>
            <button class="button button3">Jueves</button><br>
            <h5>horario:</h5>
            <p>Todos los jueves 7:00 pm</p>
        </div>
        <div id="right"><img class="circular--square" src="/assets/images/predica4.jpg"/><br>
            <button class="button button3">Domingo</button><br>
            <h5>horario:</h5>
            <p>Domingos 11:00 am y 13:00 pm</p>
        </div>
    </div>
    
